.ar-loan-cards-container {
  overflow-y: scroll;
  max-height: 500px;
  padding: 10px; /* Add padding to ensure content is not cut off */
}

.ar-loan-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 100%; /* Ensure the card takes full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.ar-loan-card-header,
.ar-loan-card-body,
.ar-loan-card-actions {
  margin-bottom: 10px;
}

.ar-loan-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ar-loan-card-body {
  display: flex;
  flex-direction: column;
}

.ar-loan-card-actions {
  display: flex;
  justify-content: space-between;
}

.ar-loan-info {
  display: flex;
  flex-direction: column;
}

.ar-loan-id {
  font-weight: bold;
}

.ar-loan-badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.ar-loan-badge.pending {
  background-color: #ffc107;
}

.ar-loan-badge.approved {
  background-color: #28a745;
}

.ar-loan-badge.rejected {
  background-color: #dc3545;
}

.ar-loan-detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ar-detail-icon {
  margin-right: 10px;
}

.ar-detail-info {
  display: flex;
  flex-direction: column;
}

.ar-label {
  font-weight: bold;
}

.ar-loan-type-row {
  display: flex;
  flex-direction: column;
}

.ar-loan-type-icon {
  margin-bottom: 10px;
}

.ar-loan-update {
  margin-bottom: 5px;
}

.ar-approve-button,
.ar-reject-button,
.ar-email-button,
.ar-delete-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ar-approve-button {
  background-color: #28a745;
  color: white;
}

.ar-reject-button {
  background-color: #dc3545;
  color: white;
}

.ar-email-button {
  background-color: #007bff;
  color: white;
}

.ar-delete-button {
  background-color: #6c757d;
  color: white;
}

.uploaded-files ul {
  list-style-type: none;
  padding: 0;
}

.uploaded-files li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.delete-button {
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
  border: red 1px solid;
}

.cf-delete-button:hover {
  text-decoration: underline;
}
