/* Sidebar CSS */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed {
    width: 70px; /* This is the minimized width showing just the logo */
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .sidebar .logo {
    margin-top: 10%;
    width: 150px;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed .logo {
    width: 0; /* Hide the logo completely when collapsed */
  }
  
  .toggle-btn {
    margin-top: 10%;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: padding 0.3s ease;
    position: relative;
  }
  
  .sidebar-item.active {
    background-color: #EEF2FF;
  }
  
  .sidebar-text {
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #583388;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar.collapsed .sidebar-text {
    display: none; /* Hide text when collapsed */
  }
  
  .sidebar-item:hover .sidebar-text {
    display: inline-block;
    position: absolute;
    left: 60px; /* Adjust to your liking */
    background-color: #E0E7FF;
    padding: 5px;
    border-radius: 4px;
    color: #3730A3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-item:hover .sidebar-icon {
    background-color: #E0E7FF; /* Highlight icon on hover */
  }
  
  .sidebar-item:hover .sidebar-text {
    visibility: visible;
  }
  
  /* Alert Dot for Active Item */
  .alert-dot {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
  }
  
  /* Profile Section */
  .sidebar-footer {
    margin-top: auto; /* Ensure the profile section sticks to the bottom */
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  
  .sidebar-footer .profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .sidebar-footer .profile-text {
    display: block;
    color: #333;
    font-size: 14px;
    display: none; /* Hide the profile text when collapsed */
  }
  
  .sidebar.collapsed .sidebar-footer .profile-text {
    display: none; /* Hide text when collapsed */
  }
  
  /* Increase icon size when collapsed */
  .sidebar.collapsed .sidebar-icon {
    font-size: 26px; /* Increase icon size */
  }
  