.loan-settings-content {
    display: flex;
    flex-direction: column;
    background-color: #B2B3F4;
    min-height: 100vh;
    border-radius: 1rem;
    padding: 1rem;
}

.loan-settings-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.horizontally-placed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.loan-settings-input-group {
    flex: 1;
    margin-right: 10px;
}

.loan-settings-input-group select,
.loan-settings-input-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
}

.ls-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: #0095ff;
}

.ls-button:hover {
    background-color: #007acc;
}

.custom-selects {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
}