/* Apply the font to the entire document */
body {
  font-family: 'Roboto', sans-serif;
}

/* Container Styles */
.ap-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

/* Tabs Styles */
.ap-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #201B47;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.ap-tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: white;
}

.ap-tab:hover {
  background-color: #7775ED;
}

.ap-tab.active {
  background-color: #7775ED;
}

.ap-tab-icon {
  margin-right: 8px;
  font-size: 1.2rem;
}

.ap-tab-text {
  font-weight: bold;
}

/* Main Content Styles */
.ap-main-content {
  flex: 1;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.ap-section {
  margin-bottom: 1rem;
}

.ap-section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.ap-section-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.ap-section-description {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.ap-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ap-input-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.ap-change-button {
  background-color: #201B47;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ap-change-button:hover {
  background-color: #fff;
  color: #201B47;
  border: 1px solid #201B47;
}

.ap-table {
  width: 100%;
  border-collapse: collapse;
}

.ap-table th,
.ap-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.ap-progress-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  height: 10px;
}

.ap-progress {
  background-color: #4caf50;
  height: 100%;
}

.ap-view-history-button {
  background-color: #201B47;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ap-view-history-button:hover {
  background-color: #fff;
  color: #201B47;
  border: 1px solid #201B47;
}