/* Apply smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Container Styles */
.security-page {
    background-color: white;
    display: flex;
    min-height: 100vh;
    border-radius: 1rem;
    width: 100%;/* Adjusted to account for the fixed sidebar width */
    height: 100vh;
 
}

/* Content Styles */
.security-content {
    flex: 1;
    display: flex;
    background-color: #B2B3F4;
    border-radius: 1rem;
    width: 100%;
}
.security-content__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.top-section {
    text-align: left;
    margin-bottom: 40px;
}

p.section-title-1 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.as-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    margin-right: 10px;
    gap: 20px;
    width: 35%;
    border: 2px solid black; /* Border width, style, and color */
    border-radius: 10px; 
    padding: 1rem;
    background-color: #B2B3F4;

}

.left-side {
    flex: 1;
    text-align: left;
}

h1.heading {
    font-size: 24px;
}

.arrow-icon {
    margin-bottom: 10px;
    color: #4c6ef5;
    font-size: 2em;
}



/* Responsive Design */
@media (max-width: 768px) {
    .security-page {
        flex-direction: column;
        padding: 0;
    }
   
    .right-side {
        align-items: flex-start;
        margin-top: 20px;
    }
}